#ifndef INCLUDE_CONFIG_DEVICE_H
#define INCLUDE_CONFIG_DEVICE_H

#define ENABLE_GATEWAY
#define ENABLE_MEASURE

/* Debug */
#define NDEBUG
//	#define DEBUG_CLEAN_DATA

/* Hardware */
#define ENABLE_SDCARD
#define ENABLE_LOG_FILE
#if defined(ENABLE_MEASURE)
	//	#define ENABLE_CLOCK_PCF85063TP
	//	#define ENABLE_CLOCK_DS1307
	#define ENABLE_CLOCK_DS3231
#endif
#define ENABLE_BATTERY_GAUGE_LC709203F
#define ENABLE_BATTERY_GAUGE_MAX17043
#define ENABLE_BATTERY_GAUGE_MAX17048
#define ENABLE_DALLAS
#define ENABLE_SHT40
#define ENABLE_BME280
#define ENABLE_LTR390
#define ENABLE_TURBIDITY
#define ENABLE_PH
#define DEFAULT_ACTIVE_SENSORS { \
	[0]         = std::nullopt, \
	[battery]   = std::nullopt, \
	[Dallas]    = std::nullopt, \
	[SHT40]     = std::nullopt, \
	[BME280]    = std::nullopt, \
	[LTR390]    = std::nullopt, \
	[turbidity] = std::nullopt, \
	[pH]        = std::nullopt  \
}

/* LoRa */
#define SECRET_KEY "16-byte secret!"
#define ROUTER_TOPOLOGY {}
#define LORA_BAND 923000000 /* Hz */

/* Internet */
#define WIFI_SSID "my Wifi ID"
#define WIFI_PASS "my WiFi password"
#define NTP_SERVER "stdtime.gov.hk"
#define NTP_INTERVAL 1234567UL /* milliseconds */
#define HTTP_AUTHORIZATION_TYPE "BASIC"
#define HTTP_AUTHORIZATION_USER "username for upload"
#define HTTP_AUTHORIZATION_PASS "password for upload"
#define HTTP_RESPONE_SIZE 256
#define HTTP_UPLOAD_LENGTH 512
#define SITE_CODE "0"
#define HTTP_UPLOAD_HOST_PATH "http://www.example.com/path/to/upload"
#define HTTP_UPLOAD_QUERY "some=extra&key=value&"
#define HTTP_UPLOAD_FIELD_SITE "site"
#define HTTP_UPLOAD_FIELD_DEVICE "device"
#define HTTP_UPLOAD_FIELD_SERIAL "serial"
#define HTTP_UPLOAD_FIELD_TIME "time"
#define HTTP_UPLOAD_FIELDS { \
	[0] = {}, \
	[Setting::battery] = \
		(char const *[]){ \
			"battery_voltage", \
			"battery_percentage" \
		}, \
	[Setting::Dallas] = \
		(char const *[]){ \
			"Dallas_temperature" \
		}, \
	[Setting::SHT40] = \
		(char const *[]){ \
			"SHT40_temperature", \
			"SHT40_humidity" \
		}, \
	[Setting::BME280] = \
		(char const *[]) { \
			"BME280_pressure", \
			"BME280_temperature", \
			"BME280_humidity" \
		}, \
	[Setting::LTR390] = \
		(char const *[]) { \
			"LTR390_ultraviolet" \
		}, \
	[Setting::turbidity] = \
		(char const *[]) { \
			"turbidity" \
		}, \
	[Setting::pH] = \
		(char const *[]) { \
			"pH" \
		} \
}

/* Hide passwords if not gateway */
#if !defined(ENABLE_GATEWAY)
	#undef  WIFI_SSID
	#define WIFI_SSID "Wi-Fi SSID"
	#undef  WIFI_PASS
	#define WIFI_PASS "Wi-Fi password"
	#undef  HTTP_AUTHORIZATION_USER
	#define HTTP_AUTHORIZATION_USER "Upload username"
	#undef  HTTP_AUTHORIZATION_PASS
	#define HTTP_AUTHORIZATION_PASS "Upload password"
#endif

/* Timing */
#define START_DELAY 1000UL /* milliseconds */
#define IDLE_INTERVAL 123UL /* milliseconds */
#define ACK_TIMEOUT 1000UL /* milliseconds */
#define RESEND_TIMES 3
#define SEND_INTERVAL 6000UL /* milliseconds */ /* MUST: > ACK_TIMEOUT * (RESEND_TIMES + 1) */
#define MEASURE_INTERVAL 60000UL /* milliseconds */ /* MUST: > SEND_INTERVAL */
//	#define SEND_IDLE_INTERVAL (MEASURE_INTERVAL * 10)
#define SEND_IDLE_INTERVAL MEASURE_INTERVAL
//	#define SEND_IDLE_INTERVAL SEND_INTERVAL
#define SYNCHONIZE_INTERVAL 12345678UL /* milliseconds */
#define SYNCHONIZE_TIMEOUT 1234UL /* milliseconds */ /* MUST: > SYNCHONIZE_INTERVAL */
#define CLEANLOG_INTERVAL 21600000UL /* milliseconds */
#define SLEEP_MARGIN 500UL /* milliseconds */
//	#define REBOOT_TIMEOUT 3600000UL /* milliseconds */
#define DASHBOARD_INTERVAL 5000UL /* milliseconds */
#define DASHBOARD_SLEEP_INTERVAL MEASURE_INTERVAL
#define LOCAL_TIMEZONE +8 /* hours */

/* Display */
#define ENABLE_LED
#define ENABLE_COM_OUTPUT
#define ENABLE_OLED_OUTPUT
#define ENABLE_OLED_SWITCH 35
#define LARGE_FONT
#if defined(ENABLE_MEASURE)
	#define OLED_ROTATION 3 /* vertical, antenna points right */
#else
	#define OLED_ROTATION 2 /* horizontal, antenna points down */
#endif

/* Power saving */
#if !defined(ENABLE_GATEWAY)
	#define ENABLE_SLEEP
	#define CPU_FREQUENCY 24 /* MHz */ /* MUST: >= 20MHz for LoRa, >= 24MHz for OLED, and >= 80MHz for WiFi */
#endif

#endif // INCLUDE_CONFIG_DEVICE_H
