#ifndef INCLUDE_CONFIG_DEVICE_H
#define INCLUDE_CONFIG_DEVICE_H

/* Debug */
#define NDEBUG
//	#define DEBUG_CLEAN_DATA

/* Hareware */
#define ENABLE_SDCARD
//	#define ENABLE_LOG_FILE
#define ENABLE_DALLAS 3
#define ENABLE_SHT40
#define ENABLE_BME280
#define ENABLE_LTR390
#define ENABLE_BATTERY_GAUGE BATTERY_GAUGE_DFROBOT
#define ENABLE_CLOCK CLOCK_DS3231

/* LoRa */
#define SECRET_KEY "16-byte secret!"
#define ROUTER_TOPOLOGY {}
#define LORA_BAND 923000000 /* Hz */

/* Internet */
#define WIFI_SSID "my Wifi ID"
#define WIFI_PASS "my WiFi password"
#define HTTP_UPLOAD_LENGTH 512
#define HTTP_UPLOAD_FORMAT \
	"http://www.example.com/REST/upload" \
	"?device=%1$u&serial=%2$u&time=%3$s"
#define HTTP_AUTHORIZATION_TYPE "Basic"
#define HTTP_AUTHORIZATION_CODE "passcode for webserver"
#define HTTP_RESPONE_SIZE 256
#define NTP_SERVER "stdtime.gov.hk"
#define NTP_INTERVAL 1234567UL /* milliseconds */

/* Timimg */
#define START_DELAY 10000UL /* milliseconds */
#define IDLE_INTERVAL 123UL /* milliseconds */
#define ACK_TIMEOUT 1000UL /* milliseconds */
#define RESEND_TIMES 3
#define SEND_INTERVAL 6000UL /* milliseconds */ /* MUST: > ACK_TIMEOUT * (RESEND_TIMES + 1) */
#define MEASURE_INTERVAL 60000UL /* milliseconds */ /* MUST: > SEND_INTERVAL */
//	#define SEND_IDLE_INTERVAL (MEASURE_INTERVAL * 10)
#define SEND_IDLE_INTERVAL SEND_INTERVAL
//	#define SEND_IDLE_INTERVAL 987654UL /* milliseconds */
#define SYNCHONIZE_INTERVAL 12345678UL /* milliseconds */
#define SYNCHONIZE_MARGIN 1234UL /* milliseconds */
#define CLEANLOG_INTERVAL 21600000UL /* milliseconds */
#define SLEEP_MARGIN 1000UL /* milliseconds */
//	#define REBOOT_TIMEOUT 3600000UL /* milliseconds */

/* Display */
#define ENABLE_LED
#define ENABLE_COM_OUTPUT
#define ENABLE_OLED_OUTPUT
#define ENABLE_OLED_SWITCH 34
#define OLED_ROTATION 2

/* Power saving */
#define ENABLE_SLEEP
#define CPU_FREQUENCY 20 /* MHz */ /* MUST: >= 20MHz for LoRa, and >= 80MHz for WiFi */

#endif // INCLUDE_CONFIG_DEVICE_H
